{
"extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "test/**",
    "dist/**",
    "coverage/**",
    "demo",
    "lib/types",
    "**/*.js"
  ],
  "reporter": [
    "text"
  ],
  "all": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "branches": 100
}
